body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 180px;
}

.body {
  text-align: center;
  margin-top: 3rem;
}

.footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #ccc;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 700px; /* ancho máximo del tráiler */
  padding-bottom: 56.25%; /* relación 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
