body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 180px;
}

.body {
  text-align: center;
  margin-top: 3rem;
}

.footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #ccc;
}
