<!-- Fondo de la página -->
<div class="index-page" style="background-image: url('/assets/background.jpg'); background-size: cover; background-position: center; min-height: 100vh;">

  <!-- Contenedor principal -->
  <div class="container text-light py-5">

    <!-- Header -->
    <header class="d-flex align-items-center mb-5">
      <img src="/assets/logo.png" alt="Catálogo de Películas" width="150" class="me-3">
      <h1 class="m-0">Catálogo de Películas</h1>
    </header>

    <!-- Body -->
    <main class="text-center my-4">
        <p class="lead">Bienvenido al catálogo de películas. Aquí podrás explorar nuestras películas favoritas, ver detalles de cada una y disfrutar de su información completa.</p>
    
    <!-- Botón para ir al catálogo -->
        <a routerLink="/movies" class="btn btn-outline-light btn-sm">Ver catálogo</a>
    </main>

    <!-- Footer -->
    <footer class="mt-5 border-top pt-3">
      <p>Materia: Conceptualización de entornos de desarrollo de aplicaciones y servicios <br>
         Nombre: Ana Gabriela Rizo Llaca <br>
         Código: 223983885 <br>
         Correo: ana.rizo23b&#64;udgvirtual.udg.mx

      </p>
    </footer>

  </div>
</div>
