body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: #e50914;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

nav a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

nav a.active {
  color: #e50914;
}
